@import '@/assets/scss/colors';
@import '@/assets/scss/fonts';


label {
   display: block;
   margin: 9px 0;
   font-size: 21px;
   font-weight: bold;
   color: $smokeyGrey;
   font-family: 'Poppins-Bold', Arial, Helvetica, sans-serif;
   font-size: 11px;
   text-transform: uppercase;
   letter-spacing: 2px;
}

hr {
   border-top: 1px solid $lightGrey;
   width: 100%;
}

input {
   width: 80%;
   height: 45px;
   padding: 8px;
   font-size: 21px;
   font-family: 'Poppins-Bold', Arial, Helvetica, sans-serif;
   font-weight: bold;
   border-radius: 7px;
   outline: none;
   border: 1px solid $smokeyGrey;
   color: $offBlack;
}

.age-inputs {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.age-container {
   width: 90%;
   min-width: 320px;
   min-height: 360px;
   background-color: $white;
   padding: 32px;
   display: flex;
   flex-direction: column;
   border-radius: 4% 4% 22% 4%;
}

.divider {
   display: flex;
   align-items: center;
   position: relative;
   min-height: 20px;
   margin-top: 3rem;
}

.star-arrow {
   width: 54px;
   height: 54px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   background-color: $purple;
   position: absolute;
   right: 45%;

   svg {
      width: 30px;
      height: 30px;
   }
}

@media (min-width: 768px) {
   input {
      width: 80%;
      height: 45px;
      padding: 8px;
      font-size: 24px;
   }
   .divider {
      margin-top: 0.2rem;
   }   

   .star-arrow {
      width: 64px;
      height: 64px;
      right: 0;
      svg {
         width: 30px;
         height: 30px;
      }
   }
}

@media (min-width: 1024px) {
   input {
      width: 135px;
      font-size: $inputFontSize;
      height: 62px;
      padding: 8px;
      border-radius: 7px;
   }

   .age-container {
      width: 650px;
      min-height: 440px;
      border-radius: 4% 4% 28% 4%;
      gap: 25px;
   }

   .age-inputs {
      width: 75%;
   }
}